html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
