@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/GothamPro/GothamPro.woff2") format("woff2"), /* Pretty Modern Browsers */
       url("../fonts/GothamPro/GothamPro.woff") format("woff"), /* Pretty Modern Browsers */
       url("../fonts/GothamPro/GothamPro.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("../fonts/GothamPro/GothamPro.svg") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff2") format("woff2"), /* Pretty Modern Browsers */
       url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), /* Pretty Modern Browsers */
       url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("../fonts/OpenSansSemiBold/OpenSansSemiBold.svg") format("svg"); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
