$mobile-width: 320px;
$tablet-width: 1024px;
$desktop-width: 1280px;
$font-primary: "Montserrat-Regular", "Arial", sans-serif;
$font-secondary: "Montserrat-Medium", "Arial", sans-serif;
$font-title: "Montserrat-ExtraBold", "Arial", sans-serif;
$font-description: "OpenSansRegular", "Arial", sans-serif;
$font-text: "Montserrat-SemiBold", "Arial", sans-serif;
